OPENAI_API_KEY=
GOOGLE_API_KEY=
UPSTAGE_API_KEY=

# Langsmith 관련
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# mongoDB atlas 관련
MONGODB_URI=